/Vera_Krocilova/lekce_9_zaverecna/pytest/__pycache__/conftest.cpython-314-pytest-9.0.1.pyc
/Vera_Krocilova/lekce_9_zaverecna/pytest/pages/__pycache__/__init__.cpython-314.pyc
/Vera_Krocilova/lekce_9_zaverecna/pytest/pages/__pycache__/inventory_page.cpython-314.pyc
/Vera_Krocilova/lekce_9_zaverecna/pytest/pages/__pycache__/login_page.cpython-314.pyc
/Vera_Krocilova/lekce_9_zaverecna/pytest/screenshots/after_add_to_cart.png.png
/Vera_Krocilova/lekce_9_zaverecna/pytest/screenshots/after_login.png.png
/Vera_Krocilova/lekce_9_zaverecna/pytest/tests/__pycache__/test_saucedemo.cpython-314-pytest-9.0.1.pyc
/Vera_Krocilova/lekce_9_zaverecna/pytest/tests/__pycache__/test_saucedemo.cpython-314.pyc
/results/log.html
/results/output.xml
/results/report.html
/Vera_Krocilova/lekce_9_zaverecna/pytest/tests/screenshots/after_add_to_cart.png.png
/Vera_Krocilova/lekce_9_zaverecna/pytest/tests/screenshots/after_login.png.png
/Vera_Krocilova/lekce_9_zaverecna/pytest/tests/report.html
/Vera_Krocilova/lekce_9_zaverecna/pytest/tests/test.log
/Vera_Krocilova/lekce_9_zaverecna/pytest/report.html
/Vera_Krocilova/lekce_9_zaverecna/pytest/test.log
/Vera_Krocilova/lekce_9_zaverecna/robotframework/resources/__pycache__/Browser.cpython-314.pyc
/Vera_Krocilova/lekce_9_zaverecna/robotframework/resources/__pycache__/InventoryPage.cpython-314.pyc
/Vera_Krocilova/lekce_9_zaverecna/robotframework/resources/__pycache__/LoginPage.cpython-314.pyc
/Vera_Krocilova/lekce_9_zaverecna/robotframework/tests/screenshots/after_add_product_to_cart
/Vera_Krocilova/lekce_9_zaverecna/robotframework/tests/screenshots/after_login.png
/Vera_Krocilova/lekce_9_zaverecna/robotframework/tests/log.html
/Vera_Krocilova/lekce_9_zaverecna/robotframework/tests/output.xml
/Vera_Krocilova/lekce_9_zaverecna/robotframework/tests/report.html
/Vera_Krocilova/lekce_9_zaverecna/robotframework/log.html
/Vera_Krocilova/lekce_9_zaverecna/robotframework/output.xml
/Vera_Krocilova/lekce_9_zaverecna/robotframework/report.html
/test.log
